<div th:fragment="fragmentAlertDanger" class="alert alert-danger alert-dismissible" role="alert">
  <ul>
    <li th:each="e : ${#fields.errors('*')}" th:text="${e}"></li>
  </ul>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div th:fragment="fragmentAlertSuccess" class="alert alert-success alert-dismissible" role="alert">
  <label th:text="${textAlertSuccess}"></label>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>