<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="auto">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
  <title>Cuentas</title>
</head>

<body class="d-flex flex-column h-100">
  <header th:insert="fragments/header :: navbar"></header>

  <main class="flex-shrink-0">
    <div class="container mt-3">
      <div th:if="${textAlertSuccess != null}" th:insert="fragments/alert :: fragmentAlertSuccess"></div>
      <a th:href="@{/cuenta/nuevo}" type="button" class="btn btn-primary mb-3" sec:authorize="isAuthenticated()"><i class="bi bi-plus"></i> Nueva
        cuenta</a>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-3">
        <div th:each="cuenta : ${listCuentas}" class="col">
          <div class="card">
            <div class="card-header">
              <a th:href="@{/transacciones/{idCuenta}(idCuenta=${cuenta.idCuenta})}">
                <h5 th:text="${cuenta.nombre}"></h5>
              </a>
            </div>
            <div class="card-body">
              <div class="form-floating mb-3">
                <input th:value="${cuenta.inicial}" type="text" class="form-control" id="txtInicial" name="txtInicial"
                  placeholder="Inicial" disabled />
                <label for="txtInicial">Inicial</label>
              </div>
              <div class="form-floating mb-3">
                <input th:value="${cuenta.ingresos}" type="text" class="form-control" id="txtIngresos"
                  name="txtIngresos" placeholder="Ingresos" disabled />
                <label for="txtIngresos">Ingresos</label>
              </div>
              <div class="form-floating mb-3">
                <input th:value="${cuenta.gastos}" type="text" class="form-control" id="txtGastos" name="txtGastos"
                  placeholder="Gastos" disabled />
                <label for="txtGastos">Gastos</label>
              </div>
              <div class="form-floating">
                <input th:value="${cuenta.total}" type="text" class="form-control" id="txtTotal" name="txtTotal"
                  placeholder="Total" disabled />
                <label for="txtTotal">Total</label>
              </div>
            </div>
            <div class="card-footer">
              <a th:href="@{/transacciones/{idCuenta}(idCuenta=${cuenta.idCuenta})}" type="button" class="btn btn-success"><i
                  class="bi bi-table"></i> Transacciones</a>
              <a th:href="@{/cuenta/editar/{idCuenta}(idCuenta=${cuenta.idCuenta})}" type="button" class="btn btn-warning"><i
                  class="bi bi-pencil-fill"></i></a>
              <a th:href="@{/cuenta/eliminar/{idCuenta}(idCuenta=${cuenta.idCuenta})}" type="button" class="btn btn-danger"><i
                  class="bi bi-trash-fill"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <nav aria-label="Paginacion">
          <ul class="pagination">
            <li class="page-item"><a th:href="@{/(page=${listCuentas.number - 1})}" class="page-link" href="#">Anterior</a></li>
            <li class="page-item"><a th:href="@{/(page=${listCuentas.number + 1})}" class="page-link" href="#">Siguiente</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </main>

  <footer class="footer mt-auto py-3 bg-body-tertiary" th:insert="fragments/footer :: footer"></footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>

</html>